{% extends 'accounts/base.html' %}

{% block vacancies %}

<div class="container-xxl row p-4"  data-wow-delay="0.1s">
    {% for post in posts %}
    <div class="job-item p-3 m-2 col-md-12">     
        <a href="{% url 'posts:post_detail' post.pk %}">
            <div class="row  col-md-12">
                <div class="col-sm-12 d-flex align-items-center">
                    <div class="text-start ps-4">
                        <h5 class="mb-3">{{post.name}}</h5>
                        <span class="text-truncate me-4"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ post.address |truncatechars:15 }}</span>
                        <span class="text-truncate me-4"><i class="far fa-clock text-primary me-2"></i>{{ post.job_type }}</span>
                        <span class="text-truncate me-4"><i class="far fa-money-bill-alt text-primary me-2"></i>{{post.salary}} $</span>
                        <span class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>{{ post.created }}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>     
    {% endfor %}
</div>    

{% endblock vacancies %}